{% extends 'SIWES/base.html' %}
{% load static %}
{% block content %}
<div class="login-page">
  <div>
    <img src="{% static 'images/transparentlogbook.png' %}">
  </div>
  <div class="login-form">
    <h1>Password Reset Sent</h1>
    <p>If an account exists with the email you entered, a password reset link has been sent to that email address.</p>
    <p class="login-account"><a href="{% url 'login' %}" style="text-decoration: none; color: blue;">Back to Login</a></p>
  </div>
</div>
{% endblock %}
