{% extends 'SIWES/base.html' %}
{% load static %}
{% block content %}

<div class="login-page">
  <div>
    <img src="{% static 'images/transparentlogbook.png' %}" style="margin-top: 1rem;">
  </div>

  <div class="login-form">
    <h1>Login to Log<span style="color: blue; font-family: 'Orbitron', sans-serif ;font-size: 3rem;">Track</span></h1>

    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      {% if form.errors %}
        <div class="alert alert-danger">
          <ul>
          {% for field in form %}
            {% for error in field.errors %}
              <li>{{ field.label }}: {{ error }}</li>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      <div class="input-group">
        <!-- {{ form.username.label_tag }}<br> -->
        {{ form.username }}<br><br>
      </div>
      <div class="input-group">
        <!-- {{ form.password.label_tag }}<br> -->
        {{ form.password }}<br><br>
      </div>
  <button type="submit" id="submit">Login</button>
  <p style="margin-top: 10px;"><a href="{% url 'password_reset' %}" style="text-decoration: none; color: blue;">Forgot password?</a></p>
  <p class="login-account">Don't have an account? <a href="{% url 'register' %}" style="text-decoration: none; color: blue;">Register here</a></p>
    </form>
<!-- No JS needed for login form now -->
  </div>
</div>

{% endblock %}