{% extends 'SIWES/base.html' %}
{% load static %}

{% block content %}

    <div class="intro-title">
      <div class="intro-contents">
      <h1>
        <div>
            <i class="fas fa-book-open" 
            style="color: white; 
              font-size: 5rem;"></i>
        </div>
        Code of Conduct During Training
      </h1>
      
      <!-- <p>
        Our Automated SIWES Log Book System is designed to simplify and enhance <br>
        the student industrial training experience through digital innovation. <br>
        The following features ensure seamless documentation, supervision, and 
        feedback:
      </p> -->
    </div>
</div>


      <div class="rules-container">
        <div class="rules-contents">
          <!-- <h2>CODE OF CONDUCT DURING TRAINING</h2> -->
          <p>
            In order that you and your employer derive maximum benefit from the 
            scheme, the following code of conduct have been designed. You are 
            required to adhere to his code of conduct during the entire duration 
            of your training. <br />
            <br />

            Note that the employer's report, ITF form monitors your adherence or
            other-wise to his code of conduct and constitutes a major part in
            assessing your participation in SIWES.
          </p>

          <ul class="rules-list">
            <li>
              You should endeavor to be of <strong>GOOD BEHAVIOR</strong> at all
              times
            </li>
            <li>Be <strong>punctual</strong> at work</li>
            <li>Maintain a very <strong>good attendance record</strong></li>
            <li>
              Maintain a <strong>cordial relationship</strong> with all members
              of staff
            </li>
            <li>
              <strong>Co-operate</strong> with co-workers and your supervisors
            </li>
            <li>
              <strong>Show initiative</strong> and drive in all your
              undertakings
            </li>
            <li>
              Take <strong>proper care of tools and manuals</strong> in your
              possession
            </li>
            <li>
              <strong>Report any difficulty or misunderstanding</strong> to your
              immediate supervisor
            </li>
            <li>
              <strong>Be humble</strong> so that you can take as much as you are
              giving to the company
            </li>
            <li>
              <strong>Be loyal to the company and keep its secret,</strong> you
              may become an employee of the firm soon
            </li>
            <li>
              Above all, be <strong>a good ambassador</strong> of your
              institution
            </li>
          </ul>
        </div>
      </div>

{% endblock%}